*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ededed;
}
/*Estilo do header*/
.header{
    background-color: #a6a6a6;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #f6fafb;
    
}

.menu-button img{
    margin-top: 4px;
    width: 50px;
}

.menu-button button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.title-header{
    font-weight: 10;
    margin: auto;
    align-items: center;
    display: flex;
}
.hearth-logo img{
    width: 40px;
    margin-top: 10px;
    align-items: center;
}

.social-icons ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    
}
.social-icons img{
    width: 25px;
    padding: 5px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
    
}
.sos-header{
    display: none;
}
/*Collapsed-side-bar styles: abaixo */

.collapsed-side-bar {
    height: 100%;
    width: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 30px;
    text-align: center;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 63);
    overflow-x: hidden;
    transition: 0.25s;
}

.collapsed-side-bar a {
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: rgb(219, 219, 219);
    border-radius: 15px;
    width: 75%;
    align-self: center;
    transition-duration: .25s;
}

.collapsed-side-bar a:hover {
    color: gray;
    transition-duration: .55s;
}

.close-btn {
    align-self: flex-start;
    font-size: 1.9em;
    padding: 5px;
}

@media screen and (max-height: 450px) {
    .collapsed-side-bar a {font-size: 1.3em;}
}


/*^ Collapsed-side-bar styles ^ */

/*^Estilo do header^*/

/* Estilos da barra de pesquisa: abaixo */

.search-bar {
    position: relative;
    display: flex; 
    align-items: center; 
    margin-left: auto; 
}

.search-bar input {
    padding-right: 40px; 
    border-radius: 20px; 
    border: none;
    background-color: #ffffff; 
    color: #333;
    height: 30px; 
    width: 200px; 
    padding-left: 10px; 
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #616161

}
/* ^Estilos da barra de pesquisa^ */

/*Main: abaixo*/
.content-boxes{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
.up-boxes{
    display: flex;
    gap: 2.5rem;
}
.sos-chat-box{
    background-color: #fffefe;
    width: 530px;
    height: 130px;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    margin-left: 30px;
}
.sos-chat-box h1{
    font-weight: 15;
    margin-bottom: 10px;
}
.sos-chat-box h1, p{
    margin-left: 15px;
}

.emergency-boxes{
    align-items: center;
}
.call-box{
    background-color: #fffefe;
    width: 300px;
    height: 50px;
    margin-bottom: 60px;
    margin-left: 20px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}
.box-content{
    background-color: #fffefe;
    width: 220px;
    height: 160px;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}

.down-boxes{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3%;
}
.remedy-box{
    background-color: #fffefe;
    width: 420px;
    height: 80px;
    padding: 30px;
    border-radius: 30px;
}
.remedy-box h2{
    font-weight: 10;
    margin-bottom: 10px;
}
.remedy-box h4{
    font-weight: 10;
    margin-bottom: 10px;
    color: grey;
    font-size: 20px;
}
.remedy-box li{
    list-style-type: disc;
}
.clinic-box{
    background-color: #fffefe;
    width: 300px;
    height: 80px;
    padding: 30px;
    border-radius: 30px;
}
.clinic-box h2{
    font-weight: 10;
    margin-bottom: 10px;
}
.about-box{
    background-color: #fffefe;
    width: 300px;
    height: 80px;
    padding: 30px;
    border-radius: 30px;
}
.about-box h2{
    font-weight: 10;
    margin-bottom: 10px;
}



/*Main*/


.main-content {
    transition-duration: .25s;
    padding: 16px;
}


/*Media Queries || responsividade: abaixo*/ 
    @media(max-width: 800px){
    .up-boxes{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
    }
    .title-header {
        display: none; /* faz o título desaparecer */
    }
    
    .sos-header {
        display: flex; /* Exibe apenas "SOS" */
        margin-left: auto; /* Coloca "SOS" no lado direito */
        align-items: center; /* Alinha "SOS" verticalmente ao centro */
        margin-left: 20px;
        font-size: 20px;
    }

    .sos-chat-box{
    background-color: #fffefe;
    width: 330px;
    height: 130px;
    }
    .down-boxes{
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }
    .remedy-box{
        background-color: #fffefe;
        width: 330px;
        height: 130px;
    }
    .clinic-box{
        background-color: #fffefe;
        width: 330px;
        height: 130px;
    }
    
    }
 /*Media Queries*/
